#music {
    display: none;
}

.avatar {
    vertical-align: middle;
    width: 50px; 
    height:50px; 
    border-radius: 50%;
}

h1{

    color: brown;
    text-align: center;
}


 

body {
    background-image: url("Images/PELE.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
}

#youtube {
    display: none;
    text-decoration: none;
    color: firebrick;
}
#gagzavna{
    margin-top: 10px;
}

.container {
    padding: 20px;
    border-radius: 10px;
}

.h1, #h2 {
    margin-top: 50px; 
}

#wikipedia{
    margin-top: 10px;
}
a{
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}
h2{
    font-size: 34px;

}
.ukandabrunebuli{
    display: none;
    
        font-size: 2em; 
        font-weight: bold; 
        margin-top: 20px; 
        text-align: center; 
        color: #333; 
    
}
.hidden-input {
    display: none;
}